@{
    ViewData["Title"] = "Contatos";
}
<div class="contato">
    <h2>Contato</h2>
    <br>
    <div>
        <h3>Telefone: (21) 99999-9999</h3>
        <h3>E-mail: contato@lavieestbelle.br</h3>
        <h3>Endereço: Rua Joaquina, 123, Centro, Rio de Janeiro, Cep.: 2222-222</h3>
        <br>
    </div>
</div>